html {
  box-sizing: border-box;
  background: rgb(52,152,219);
  background: radial-gradient(circle, rgba(52,152,219,1) 0%, rgba(52,73,94,1) 100%); 
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Heebo",sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: #2c3e50;
}

.wrapper {
  padding: 20px;
  max-width: 350px;
  background: rgba(255,255,255,0.95);
  box-shadow: 0 0 0 10px rgba(255,255,255,0.1);
}

h2 {
  font-weight: 400;
  margin: 0;
  padding-bottom: .5em;
  text-align: center;
}

.fa-tasks {
  color: #f1c40f;
}

.fa-trash-alt {
  padding-top: 3px;
}

.todos {
  margin: 0;
  padding: 0;
  text-align: left;
  list-style: none;
}

.todos li {
  border-bottom: 1px solid rgba(0,0,0,0.2);
  padding: 10px 0;
  font-weight: 100;
  display: flex;
}

.todos label {
  flex: 1;
  cursor: pointer;
  /* text-decoration: line-through; */
}

.todos input {
  display: none;
}

/* why don't I just target this w a class and toggle the class */
.todos input + label:before {
  content: '⬜️';
  margin-right: 10px;
}

/* why don't I just target this w a class and toggle the class */
.todos input:checked + label:before {
  color: #2c3e50;
  content: '✔';
}

.done {
  text-decoration: line-through;
  margin-left: 8px;
}

.form-todos {
  margin-top: 20px;
}

.form-todos input {
  border-radius: 3px;
  padding: 10px;
  outline: 0;
  border: 1px solid rgba(0,0,0,0.1);
}

.add-btn {
  color: white;
  background-color: #2ecc71;
}

.remove-btn {
  background-color: #e74c3c;
  border: none;
  border-radius: 3px;
  color: white;
  background-color: #e74c3c;
  display: block;
  margin-top: 10px;
  padding: 15px 35px;
  outline: none;
  width: 100%;
}